* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-image: url("noteBook4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.task {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.task h1 {
  text-align: center;
  color: #007bff;
  font-size: 24px;
  margin-bottom: 20px;
}

.task form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task input[type="text"],
.task input[type="datetime-local"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

.task input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.task input[type="submit"]:hover {
  background-color: #0056b3;
}

.task input[type="text"]:focus,
.task input[type="datetime-local"]:focus {
  outline: none;
  border-color: #007bff;
}