* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-image: url("noteBook4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.task {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.task h1 {
  text-align: center;
  color: #007bff;
  font-size: 24px;
  margin-bottom: 20px;
}

.task form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.task input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  flex: 1;
}

.task input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

table {
  margin: 20px;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
}

.logout {
  margin: 20px;
  text-align: right;
}

.logout button {
  background: #acbdce;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logout button:hover {
  background-color: #2a79f0;
}